* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(38, 126, 188), rgb(237, 124, 207));
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 100vh;
    background: rgb(203, 182, 182);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    text-align: center;
}
.todo-app h2 {
    color: rgb(3, 3, 27);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.todo-app img {
    width: 70px;
    margin-left: 15px;
}
.row {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background: rgb(160, 191, 216);
    border-radius: 40px;
    padding-left: 30px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-weight: 15px;
}
button {
    border: none;
    outline: none;
    padding: 15px 50px;
    background: rgb(13, 94, 29);
    color: bisque;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 10px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 60%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: rgb(135, 67, 67);
}
